In [14]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re
import numpy as np

In [15]:
# Import data from csv file
df = pd.read_csv('database.csv')

# Print
df

/var/folders/0q/w8wsgnt14_vdcpwjgc1kjhfw0000gp/T/ipykernel_3338/2810737796.py:2: DtypeWarning: Columns (2,4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('database.csv')

,departure,return,departure_id,departure_name,return_id,return_name,distance (m),duration (sec.),avg_speed (km/h),departure_latitude,departure_longitude,return_latitude,return_longitude,Air temperature (degC)
0,2020-03-23 06:09:44,2020-03-23 06:16:26,86,Kuusitie,111.0,Esterinportti,1747.0,401.0,0.261397,60.195245,24.901900,60.197572,24.926781,0.9
1,2020-03-23 06:11:58,2020-03-23 06:26:31,26,Kamppi (M),10.0,Kasarmitori,1447.0,869.0,0.099908,60.168610,24.930537,60.165017,24.949473,0.9
2,2020-03-23 06:16:29,2020-03-23 06:24:23,268,Porolahden koulu,254.0,Agnetankuja,1772.0,469.0,0.226695,60.195540,25.053581,60.187234,25.036412,0.9
3,2020-03-23 06:33:53,2020-03-23 07:14:03,751,Vallipolku,106.0,Korppaanmäentie,7456.0,2406.0,0.185935,60.227827,24.819614,60.203474,24.898930,0.9
4,2020-03-23 06:36:09,2020-03-23 07:04:10,62,Länsisatamankatu,121.0,Vilhonvuorenkatu,7120.0,1679.0,0.254437,60.158928,24.909692,60.186463,24.967872,0.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12157453,2017-10-30 23:43:00,2017-10-30 23:55:00,64.0,Tyynenmerenkatu,64.0,Tyynenmerenkatu,918.0,714.0,0.077143,60.156838,24.920661,60.156838,24.920661,0.4
12157454,2017-10-30 23:49:00,2017-10-31 04:49:00,117.0,Brahen puistikko,44.0,Sörnäinen (M),822.0,252.0,0.195714,60.189671,24.948102,60.187736,24.960980,0.4
12157455,2017-10-30 23:52:00,2017-10-31 00:02:00,142.0,Koskelantie,141.0,Intiankatu,1817.0,594.0,0.183535,60.208749,24.946514,60.207858,24.967638,0.4
12157456,2017-10-30 23:57:00,2017-10-31 00:00:00,28.0,Lastenlehto,26.0,Kamppi (M),416.0,152.0,0.164211,60.165812,24.927021,60.168610,24.930537,0.4
12157457,2017-10-30 23:59:00,2017-10-31 00:12:00,20.0,Kaisaniemenpuisto,114.0,Ratapihantie,2856.0,771.0,0.222257,60.173199,24.943301,60.196431,24.936256,0.4

In [16]:
#clean
# Replace spaces with underscores in column names
df.columns = df.columns.str.replace(' ', '_')

# Print head
df.head()

,departure,return,departure_id,departure_name,return_id,return_name,distance_(m),duration_(sec.),avg_speed_(km/h),departure_latitude,departure_longitude,return_latitude,return_longitude,Air_temperature_(degC)
0,2020-03-23 06:09:44,2020-03-23 06:16:26,86,Kuusitie,111.0,Esterinportti,1747.0,401.0,0.261397,60.195245,24.901900,60.197572,24.926781,0.9
1,2020-03-23 06:11:58,2020-03-23 06:26:31,26,Kamppi (M),10.0,Kasarmitori,1447.0,869.0,0.099908,60.168610,24.930537,60.165017,24.949473,0.9
2,2020-03-23 06:16:29,2020-03-23 06:24:23,268,Porolahden koulu,254.0,Agnetankuja,1772.0,469.0,0.226695,60.195540,25.053581,60.187234,25.036412,0.9
3,2020-03-23 06:33:53,2020-03-23 07:14:03,751,Vallipolku,106.0,Korppaanmäentie,7456.0,2406.0,0.185935,60.227827,24.819614,60.203474,24.898930,0.9
4,2020-03-23 06:36:09,2020-03-23 07:04:10,62,Länsisatamankatu,121.0,Vilhonvuorenkatu,7120.0,1679.0,0.254437,60.158928,24.909692,60.186463,24.967872,0.9

In [17]:
#filter out only 2019 data for smaller starter dataset
df_2019 = df[df['departure'].str.contains('2019') ]

In [18]:
df_2019.head()

,departure,return,departure_id,departure_name,return_id,return_name,distance_(m),duration_(sec.),avg_speed_(km/h),departure_latitude,departure_longitude,return_latitude,return_longitude,Air_temperature_(degC)
3129089,2019-04-01 05:40:01,2019-04-01 05:51:05,60,Itämerentori,25.0,Narinkka,2293.0,659.0,0.208771,60.163531,24.914517,60.170042,24.934607,0.4
3129090,2019-04-01 05:53:14,2019-04-01 05:56:26,85,Jalavatie,83.0,Meilahden sairaala,479.0,190.0,0.151263,60.193470,24.905889,60.190219,24.908335,0.4
3129091,2019-04-01 06:04:00,2019-04-01 06:17:33,86,Kuusitie,114.0,Ratapihantie,2598.0,812.0,0.191970,60.195245,24.901900,60.196431,24.936256,0.1
3129092,2019-04-01 06:08:41,2019-04-01 06:14:24,26,Kamppi (M),64.0,Tyynenmerenkatu,1611.0,339.0,0.285133,60.168610,24.930537,60.156838,24.920661,0.1
3129093,2019-04-01 06:12:01,2019-04-01 06:31:09,35,Cygnaeuksenkatu,128.0,Päijänteentie,0.0,1144.0,0.000000,60.174064,24.928228,60.192058,24.964224,0.1

In [19]:
# take only every 10th entry for a smaller test dataset to use in streamlit dashboard

df_2019_small = df_2019.iloc[::10, :]

df_2019_small

,departure,return,departure_id,departure_name,return_id,return_name,distance_(m),duration_(sec.),avg_speed_(km/h),departure_latitude,departure_longitude,return_latitude,return_longitude,Air_temperature_(degC)
3129089,2019-04-01 05:40:01,2019-04-01 05:51:05,60,Itämerentori,25.0,Narinkka,2293.0,659.0,0.208771,60.163531,24.914517,60.170042,24.934607,0.4
3129099,2019-04-01 06:38:39,2019-04-01 09:10:04,81,Stenbäckinkatu,75.0,Korjaamo,705.0,198.0,0.213636,60.188309,24.912372,60.183868,24.919837,0.1
3129109,2019-04-01 06:53:42,2019-04-01 06:56:13,541,"Aalto-yliopisto (M), Korkeakouluaukio",543.0,Otaranta,620.0,147.0,0.253061,60.184312,24.826671,60.184830,24.837133,0.1
3129119,2019-04-01 07:01:55,2019-04-01 07:18:54,95,Munkkiniemen aukio,112.0,Rautatieläisenkatu,3937.0,1016.0,0.232500,60.196720,24.884092,60.201438,24.933272,0.7
3129129,2019-04-01 07:09:15,2019-04-01 07:12:14,767,Ruutikatu,731.0,Leppävaarankäytävä,630.0,177.0,0.213559,60.223377,24.820635,60.220254,24.813437,0.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6916599,2019-10-31 23:21:58,2019-10-31 23:48:26,26.0,Kamppi (M),41.0,Ympyrätalo,3457.0,1584.0,0.130947,60.168610,24.930537,60.180863,24.949400,2.5
6916609,2019-10-31 23:31:30,2019-10-31 23:40:08,75.0,Korjaamo,45.0,Brahen kenttä,1770.0,512.0,0.207422,60.183868,24.919837,60.186862,24.950917,2.5
6916619,2019-10-31 23:37:39,2019-11-01 00:42:28,203.0,Opastinsilta,203.0,Opastinsilta,5619.0,3886.0,0.086758,60.199235,24.937826,60.199235,24.937826,2.5
6916629,2019-10-31 23:44:14,2019-10-31 23:51:12,101.0,Huopalahdentie,94.0,Laajalahden aukio,1168.0,417.0,0.168058,60.199665,24.883621,60.197931,24.876222,2.5
6916639,2019-10-31 23:53:43,2019-11-01 00:01:01,20.0,Kaisaniemenpuisto,41.0,Ympyrätalo,1376.0,434.0,0.190230,60.173199,24.943301,60.180863,24.949400,2.5

In [23]:
#filter out rides with no duration
#check for NaN values
df_2019_small_cleaned = df_2019_small.dropna()

nan_columns = df_2019_small_cleaned.columns[df_2019_small_cleaned.isna().any()].tolist()
print("Columns that contain NaNs: " +str(nan_columns))

nan_rows = df_2019_small_cleaned[df_2019_small_cleaned.isna().any(axis=1)]
print(nan_rows)

Columns that contain NaNs: []
Empty DataFrame
Columns: [departure, return, departure_id, departure_name, return_id, return_name, distance_(m), duration_(sec.), avg_speed_(km/h), departure_latitude, departure_longitude, return_latitude, return_longitude, Air_temperature_(degC)]
Index: []

In [24]:
df_2019_small_cleaned

,departure,return,departure_id,departure_name,return_id,return_name,distance_(m),duration_(sec.),avg_speed_(km/h),departure_latitude,departure_longitude,return_latitude,return_longitude,Air_temperature_(degC)
3129089,2019-04-01 05:40:01,2019-04-01 05:51:05,60,Itämerentori,25.0,Narinkka,2293.0,659.0,0.208771,60.163531,24.914517,60.170042,24.934607,0.4
3129099,2019-04-01 06:38:39,2019-04-01 09:10:04,81,Stenbäckinkatu,75.0,Korjaamo,705.0,198.0,0.213636,60.188309,24.912372,60.183868,24.919837,0.1
3129109,2019-04-01 06:53:42,2019-04-01 06:56:13,541,"Aalto-yliopisto (M), Korkeakouluaukio",543.0,Otaranta,620.0,147.0,0.253061,60.184312,24.826671,60.184830,24.837133,0.1
3129119,2019-04-01 07:01:55,2019-04-01 07:18:54,95,Munkkiniemen aukio,112.0,Rautatieläisenkatu,3937.0,1016.0,0.232500,60.196720,24.884092,60.201438,24.933272,0.7
3129129,2019-04-01 07:09:15,2019-04-01 07:12:14,767,Ruutikatu,731.0,Leppävaarankäytävä,630.0,177.0,0.213559,60.223377,24.820635,60.220254,24.813437,0.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6916599,2019-10-31 23:21:58,2019-10-31 23:48:26,26.0,Kamppi (M),41.0,Ympyrätalo,3457.0,1584.0,0.130947,60.168610,24.930537,60.180863,24.949400,2.5
6916609,2019-10-31 23:31:30,2019-10-31 23:40:08,75.0,Korjaamo,45.0,Brahen kenttä,1770.0,512.0,0.207422,60.183868,24.919837,60.186862,24.950917,2.5
6916619,2019-10-31 23:37:39,2019-11-01 00:42:28,203.0,Opastinsilta,203.0,Opastinsilta,5619.0,3886.0,0.086758,60.199235,24.937826,60.199235,24.937826,2.5
6916629,2019-10-31 23:44:14,2019-10-31 23:51:12,101.0,Huopalahdentie,94.0,Laajalahden aukio,1168.0,417.0,0.168058,60.199665,24.883621,60.197931,24.876222,2.5
6916639,2019-10-31 23:53:43,2019-11-01 00:01:01,20.0,Kaisaniemenpuisto,41.0,Ympyrätalo,1376.0,434.0,0.190230,60.173199,24.943301,60.180863,24.949400,2.5

In [26]:
#drop the columns that we dont need:
df_2019_small_cleaned_thinned = df_2019_small_cleaned.drop(['departure_name', 'return_name'], axis=1)

df_2019_small_cleaned_thinned

,departure,return,departure_id,return_id,distance_(m),duration_(sec.),avg_speed_(km/h),departure_latitude,departure_longitude,return_latitude,return_longitude,Air_temperature_(degC)
3129089,2019-04-01 05:40:01,2019-04-01 05:51:05,60,25.0,2293.0,659.0,0.208771,60.163531,24.914517,60.170042,24.934607,0.4
3129099,2019-04-01 06:38:39,2019-04-01 09:10:04,81,75.0,705.0,198.0,0.213636,60.188309,24.912372,60.183868,24.919837,0.1
3129109,2019-04-01 06:53:42,2019-04-01 06:56:13,541,543.0,620.0,147.0,0.253061,60.184312,24.826671,60.184830,24.837133,0.1
3129119,2019-04-01 07:01:55,2019-04-01 07:18:54,95,112.0,3937.0,1016.0,0.232500,60.196720,24.884092,60.201438,24.933272,0.7
3129129,2019-04-01 07:09:15,2019-04-01 07:12:14,767,731.0,630.0,177.0,0.213559,60.223377,24.820635,60.220254,24.813437,0.7
...,...,...,...,...,...,...,...,...,...,...,...,...
6916599,2019-10-31 23:21:58,2019-10-31 23:48:26,26.0,41.0,3457.0,1584.0,0.130947,60.168610,24.930537,60.180863,24.949400,2.5
6916609,2019-10-31 23:31:30,2019-10-31 23:40:08,75.0,45.0,1770.0,512.0,0.207422,60.183868,24.919837,60.186862,24.950917,2.5
6916619,2019-10-31 23:37:39,2019-11-01 00:42:28,203.0,203.0,5619.0,3886.0,0.086758,60.199235,24.937826,60.199235,24.937826,2.5
6916629,2019-10-31 23:44:14,2019-10-31 23:51:12,101.0,94.0,1168.0,417.0,0.168058,60.199665,24.883621,60.197931,24.876222,2.5
6916639,2019-10-31 23:53:43,2019-11-01 00:01:01,20.0,41.0,1376.0,434.0,0.190230,60.173199,24.943301,60.180863,24.949400,2.5

In [27]:
#add the weekday and month columns
df_2019_small_cleaned_thinned['departure'] = pd.to_datetime(df['departure'])
df_2019_small_cleaned_thinned['departure_weekday'] = df_2019_small_cleaned_thinned['departure'].dt.strftime('%A')
df_2019_small_cleaned_thinned['departure_month'] = df_2019_small_cleaned_thinned['departure'].dt.strftime('%B')

In [28]:
df_2019_small_cleaned_thinned.to_csv('df_2019_small_cleaned_thinned.csv', index=False)